{% extends "components/admin_layout.html" %}{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div>
    <canvas id="PD-001" style="width:100%;max-width:700px"></canvas>
    <script>
        const xValues = {{xAxix}};
        const yValues = [7,8,8,9,9,9,10,11,14,14,15];
        
        new Chart("PD-001", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {min: 6, max:16}}],
                }
            }
        });
    </script>
</div>
{% endblock %}