{% extends "inventory_sheets/inventory_sheet.html" %}
{% block content %}{% load static %}
<script defer src="{% static 'script/machine_options.js' %}"></script>
<script defer src="{% static 'script/inventory_fills.js' %}"></script>
<input type="hidden" id="prevInventory" data-prev="{{pastInventory}}">
<table style='border:1px solid black;border-collapse: collapse;width: 673px;'>
    <tr style='text-align: center; font-weight: bolder;'>
        <td>ID</td>
        <td class="c1">Item Name</td>
        <td style='display:none;'>Prev</td>
        <td class="c2">Qty</td>
        <td class="c3">Sold</td>
        <td class="c6">Removed</td>
        <td class="c4">Added</td>
        <td class="c5">New Dates</td>
        <td class="c5">Notes</td>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="data" style="width: 154px;" maxlength="400" required="" id="id_data">
        </td>
    </tr>
    {% for lane in organizedBuildData%}
        <tr>
            <td>{{lane.0}}</td>
            <td class="c1">{{lane.1}}<input readonly type="hidden" name="item_{{lane.0}}" value="{{lane.1}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_{{lane.0}}"></td>
            <td style='display:none;'><input id="prev{{lane.0}}" type="number" style="width:44px;text-align:center;" value="{{ lane.2.1.stock|add:lane.2.4.added|add:lane.2.2.removed }}"></td>
            <td class="c2"><input oninput="autoAddSold(this)" type="number" name="stock_{{lane.0}}" style="width:44px;" maxlength="200" required="" id="id_stock_{{lane.0}}"></td>
            <td class="c3"><input readonly type="number" name="sold_{{lane.0}}" style="width:44px; background:#8080805c;" maxlength="200" required="" id="id_sold_{{lane.0}}"></td>
            <td class="c6"><input type="number" name="removed_{{lane.0}}" style="width:44px;" maxlength="200" required="" id="removed_{{lane.0}}"></td>
            <td class="c4"><input oninput="requireDate(this)" type="number" name="added_{{lane.0}}" style="width:44px;" maxlength="200" required="" id="id_added_{{lane.0}}"></td>
            <td class="c5"><input disabled type="date" name="new_dates_{{lane.0}}" required="" id="id_new_dates_{{lane.0}}"></td>
            <td class="c5"><input type="text" name="notes_{{lane.0}}" maxlength="600" required="" id="id_notes_{{lane.0}}"></td>
        </tr>
    {% endfor %}
</table>
<br>
<div style="width:600px; margin:auto;">
    General Notes:<br>
    <textarea name="general_notes" rows="7" cols="70"></textarea>
</div>
<br>
{% comment %} <table style='border:1px solid black;border-collapse: collapse;width: 565px;'>
    <tr style='text-align: center; font-weight: bolder;'>
        <td class="c1">Item Name</td>
        <td>Prev</td>
        <td class="c2">Qty</td>
        <td class="c6">Removed</td>
        <td class="c3">Sold</td>
        <td class="c4">Added</td>
        <td class="c5">Notes</td>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="data" style="width: 154px;" maxlength="400" required="" id="id_data">
        </td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_10" value="{{invList.item_name_1}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_10"></td>
        <td style=''><input id="prev10"type="number" style="width:44px;text-align:center;" value="{{machineLayout.10.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_10" style="width:44px;" maxlength="200" required="" id="id_stock_10"></td>
        <td class="c6"><input type="number" name="removed_10" style="width:44px;" maxlength="200" required="" id="removed_10"></td>
        <td class="c3"><input type="number" name="sold_10" style="width:44px;" maxlength="200" required="" id="id_sold_10"></td>
        <td class="c4"><input type="number" name="added_10" style="width:44px;" maxlength="200" required="" id="id_added_10"></td>
        <td class="c5"><input type="text" name="notes_10" maxlength="600" required="" id="id_notes_10"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_11" value="{{invList.item_name_2}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_11"></td>
        <td style=''><input id="prev11"type="number" style="width:44px;text-align:center;" value="{{machineLayout.11.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_11" style="width:44px;" maxlength="200" required="" id="id_stock_11"></td>
        <td class="c6"><input type="number" name="removed_11" style="width:44px;" maxlength="200" required="" id="removed_11"></td>
        <td class="c3"><input type="number" name="sold_11" style="width:44px;" maxlength="200" required="" id="id_sold_11"></td>
        <td class="c4"><input type="number" name="added_11" style="width:44px;" maxlength="200" required="" id="id_added_11"></td>
        <td class="c5"><input type="text" name="notes_11" maxlength="600" required="" id="id_notes_11"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_13" value="{{invList.item_name_3}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_13"></td>
        <td style=''><input id="prev13"type="number" style="width:44px;text-align:center;" value="{{machineLayout.13.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_13" style="width:44px;" maxlength="200" required="" id="id_stock_13"></td>
        <td class="c6"><input type="number" name="removed_13" style="width:44px;" maxlength="200" required="" id="removed_13"></td>
        <td class="c3"><input type="number" name="sold_13" style="width:44px;" maxlength="200" required="" id="id_sold_13"></td>
        <td class="c4"><input type="number" name="added_13" style="width:44px;" maxlength="200" required="" id="id_added_13"></td>
        <td class="c5"><input type="text" name="notes_13" maxlength="600" required="" id="id_notes_13"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_14" value="{{invList.item_name_4}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_14"></td>
        <td style=''><input id="prev14"type="number" style="width:44px;text-align:center;" value="{{machineLayout.14.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_14" style="width:44px;" maxlength="200" required="" id="id_stock_14"></td>
        <td class="c6"><input type="number" name="removed_14" style="width:44px;" maxlength="200" required="" id="removed_14"></td>
        <td class="c3"><input type="number" name="sold_14" style="width:44px;" maxlength="200" required="" id="id_sold_14"></td>
        <td class="c4"><input type="number" name="added_14" style="width:44px;" maxlength="200" required="" id="id_added_14"></td>
        <td class="c5"><input type="text" name="notes_14" maxlength="600" required="" id="id_notes_14"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_16" value="{{invList.item_name_5}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_16"></td>
        <td style=''><input id="prev16"type="number" style="width:44px;text-align:center;" value="{{machineLayout.16.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_16" style="width:44px;" maxlength="200" required="" id="id_stock_16"></td>
        <td class="c6"><input type="number" name="removed_16" style="width:44px;" maxlength="200" required="" id="removed_16"></td>
        <td class="c3"><input type="number" name="sold_16" style="width:44px;" maxlength="200" required="" id="id_sold_16"></td>
        <td class="c4"><input type="number" name="added_16" style="width:44px;" maxlength="200" required="" id="id_added_16"></td>
        <td class="c5"><input type="text" name="notes_16" maxlength="600" required="" id="id_notes_16"></td>
    </tr>

    <tr>
        <td class="c1"><input type="text" name="item_17" value="{{invList.item_name_6}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_17"></td>
        <td style=''><input id="prev17"type="number" style="width:44px;text-align:center;" value="{{machineLayout.17.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_17" style="width:44px;" maxlength="200" required="" id="id_stock_17"></td>
        <td class="c6"><input type="number" name="removed_17" style="width:44px;" maxlength="200" required="" id="removed_17"></td>
        <td class="c3"><input type="number" name="sold_17" style="width:44px;" maxlength="200" required="" id="id_sold_17"></td>
        <td class="c4"><input type="number" name="added_17" style="width:44px;" maxlength="200" required="" id="id_added_17"></td>
        <td class="c5"><input type="text" name="notes_17" maxlength="600" required="" id="id_notes_17"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_20" value="{{invList.item_name_7}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_20"></td>
        <td style=''><input id="prev20"type="number" style="width:44px;text-align:center;" value="{{machineLayout.20.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_20" style="width:44px;" maxlength="200" required="" id="id_stock_20"></td>
        <td class="c6"><input type="number" name="removed_20" style="width:44px;" maxlength="200" required="" id="removed_20"></td>
        <td class="c3"><input type="number" name="sold_20" style="width:44px;" maxlength="200" required="" id="id_sold_20"></td>
        <td class="c4"><input type="number" name="added_20" style="width:44px;" maxlength="200" required="" id="id_added_20"></td>
        <td class="c5"><input type="text" name="notes_20" maxlength="600" required="" id="id_notes_20"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_21" value="{{invList.item_name_8}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_21"></td>
        <td style=''><input id="prev21"type="number" style="width:44px;text-align:center;" value="{{machineLayout.21.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_21" style="width:44px;" maxlength="200" required="" id="id_stock_21"></td>
        <td class="c6"><input type="number" name="removed_21" style="width:44px;" maxlength="200" required="" id="removed_21"></td>
        <td class="c3"><input type="number" name="sold_21" style="width:44px;" maxlength="200" required="" id="id_sold_21"></td>
        <td class="c4"><input type="number" name="added_21" style="width:44px;" maxlength="200" required="" id="id_added_21"></td>
        <td class="c5"><input type="text" name="notes_21" maxlength="600" required="" id="id_notes_21"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_23" value="{{invList.item_name_9}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_23"></td>
        <td style=''><input id="prev23"type="number" style="width:44px;text-align:center;" value="{{machineLayout.23.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_23" style="width:44px;" maxlength="200" required="" id="id_stock_23"></td>
        <td class="c6"><input type="number" name="removed_23" style="width:44px;" maxlength="200" required="" id="removed_23"></td>
        <td class="c3"><input type="number" name="sold_23" style="width:44px;" maxlength="200" required="" id="id_sold_23"></td>
        <td class="c4"><input type="number" name="added_23" style="width:44px;" maxlength="200" required="" id="id_added_23"></td>
        <td class="c5"><input type="text" name="notes_23" maxlength="600" required="" id="id_notes_23"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_24" value="{{invList.item_name_10}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_24"></td>
        <td style=''><input id="prev24"type="number" style="width:44px;text-align:center;" value="{{machineLayout.24.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_24" style="width:44px;" maxlength="200" required="" id="id_stock_24"></td>
        <td class="c6"><input type="number" name="removed_24" style="width:44px;" maxlength="200" required="" id="removed_24"></td>
        <td class="c3"><input type="number" name="sold_24" style="width:44px;" maxlength="200" required="" id="id_sold_24"></td>
        <td class="c4"><input type="number" name="added_24" style="width:44px;" maxlength="200" required="" id="id_added_24"></td>
        <td class="c5"><input type="text" name="notes_24" maxlength="600" required="" id="id_notes_24"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_25" value="{{invList.item_name_11}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_25"></td>
        <td style=''><input id="prev25"type="number" style="width:44px;text-align:center;" value="{{machineLayout.25.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_25" style="width:44px;" maxlength="200" required="" id="id_stock_25"></td>
        <td class="c6"><input type="number" name="removed_25" style="width:44px;" maxlength="200" required="" id="removed_25"></td>
        <td class="c3"><input type="number" name="sold_25" style="width:44px;" maxlength="200" required="" id="id_sold_25"></td>
        <td class="c4"><input type="number" name="added_25" style="width:44px;" maxlength="200" required="" id="id_added_25"></td>
        <td class="c5"><input type="text" name="notes_25" maxlength="600" required="" id="id_notes_25"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_26" value="{{invList.item_name_11}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_26"></td>
        <td style=''><input id="prev26"type="number" style="width:44px;text-align:center;" value="{{machineLayout.26.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_26" style="width:44px;" maxlength="200" required="" id="id_stock_26"></td>
        <td class="c6"><input type="number" name="removed_26" style="width:44px;" maxlength="200" required="" id="removed_26"></td>
        <td class="c3"><input type="number" name="sold_26" style="width:44px;" maxlength="200" required="" id="id_sold_26"></td>
        <td class="c4"><input type="number" name="added_26" style="width:44px;" maxlength="200" required="" id="id_added_26"></td>
        <td class="c5"><input type="text" name="notes_26" maxlength="600" required="" id="id_notes_26"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_27" value="{{invList.item_name_12}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_26"></td>
        <td style=''><input id="prev27"type="number" style="width:44px;text-align:center;" value="{{machineLayout.26.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_27" style="width:44px;" maxlength="200" required="" id="id_stock_26"></td>
        <td class="c6"><input type="number" name="removed_27" style="width:44px;" maxlength="200" required="" id="removed_26"></td>
        <td class="c3"><input type="number" name="sold_27" style="width:44px;" maxlength="200" required="" id="id_sold_26"></td>
        <td class="c4"><input type="number" name="added_27" style="width:44px;" maxlength="200" required="" id="id_added_26"></td>
        <td class="c5"><input type="text" name="notes_27" maxlength="600" required="" id="id_notes_26"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_28" value="{{invList.item_name_13}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_27"></td>
        <td style=''><input id="prev28"type="number" style="width:44px;text-align:center;" value="{{machineLayout.27.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_28" style="width:44px;" maxlength="200" required="" id="id_stock_27"></td>
        <td class="c6"><input type="number" name="removed_28" style="width:44px;" maxlength="200" required="" id="removed_27"></td>
        <td class="c3"><input type="number" name="sold_28" style="width:44px;" maxlength="200" required="" id="id_sold_27"></td>
        <td class="c4"><input type="number" name="added_28" style="width:44px;" maxlength="200" required="" id="id_added_27"></td>
        <td class="c5"><input type="text" name="notes_28" maxlength="600" required="" id="id_notes_27"></td>
    </tr>
</table> {% endcomment %}
{% endblock %}