{% extends "inventory_sheet.html" %}
{% block content %}{% load static %}
<script defer="" src="{% static 'script/machine_options.js' %}"></script>
<table style='border:1px solid black;border-collapse: collapse;width: 565px;'>
    <tr style='text-align: center; font-weight: bolder;'>
        <td class="c1">Item Name</td>
        <td>Prev</td>
        <td class="c2">Stock</td>
        <td class="c6">Removed</td>
        <td class="c3">Sold</td>
        <td class="c4">Added</td>
        <td class="c5">Notes</td>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="data" style="width: 154px;" maxlength="400" required="" id="id_data">
        </td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_A1" value="{{invList.item_name_1}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_A1"></td>
        <td style=''><input id="prevA1"type="number" style="width:44px;text-align:center;" value="{{machineLayout.A1.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_A1" style="width:44px;" maxlength="200" required="" id="id_stock_A1"></td>
        <td class="c6"><input type="number" name="removed_A1" style="width:44px;" maxlength="200" required="" id="removed_A1"></td>
        <td class="c3"><input type="number" name="sold_A1" style="width:44px;" maxlength="200" required="" id="id_sold_A1"></td>
        <td class="c4"><input type="number" name="added_A1" style="width:44px;" maxlength="200" required="" id="id_added_A1"></td>
        <td class="c5"><input type="text" name="notes_A1" maxlength="600" required="" id="id_notes_A1"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_A2" value="{{invList.item_name_2}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_A2"></td>
        <td style=''><input id="prevA2"type="number" style="width:44px;text-align:center;" value="{{machineLayout.A2.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_A2" style="width:44px;" maxlength="200" required="" id="id_stock_A2"></td>
        <td class="c6"><input type="number" name="removed_A2" style="width:44px;" maxlength="200" required="" id="removed_A2"></td>
        <td class="c3"><input type="number" name="sold_A2" style="width:44px;" maxlength="200" required="" id="id_sold_A2"></td>
        <td class="c4"><input type="number" name="added_A2" style="width:44px;" maxlength="200" required="" id="id_added_A2"></td>
        <td class="c5"><input type="text" name="notes_A2" maxlength="600" required="" id="id_notes_A2"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_A3" value="{{invList.item_name_3}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_A3"></td>
        <td style=''><input id="prevA3"type="number" style="width:44px;text-align:center;" value="{{machineLayout.A3.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_A3" style="width:44px;" maxlength="200" required="" id="id_stock_A3"></td>
        <td class="c6"><input type="number" name="removed_A3" style="width:44px;" maxlength="200" required="" id="removed_A3"></td>
        <td class="c3"><input type="number" name="sold_A3" style="width:44px;" maxlength="200" required="" id="id_sold_A3"></td>
        <td class="c4"><input type="number" name="added_A3" style="width:44px;" maxlength="200" required="" id="id_added_A3"></td>
        <td class="c5"><input type="text" name="notes_A3" maxlength="600" required="" id="id_notes_A3"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_A4" value="{{invList.item_name_4}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_A4"></td>
        <td style=''><input id="prevA4"type="number" style="width:44px;text-align:center;" value="{{machineLayout.A4.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_A4" style="width:44px;" maxlength="200" required="" id="id_stock_A4"></td>
        <td class="c6"><input type="number" name="removed_A4" style="width:44px;" maxlength="200" required="" id="removed_A4"></td>
        <td class="c3"><input type="number" name="sold_A4" style="width:44px;" maxlength="200" required="" id="id_sold_A4"></td>
        <td class="c4"><input type="number" name="added_A4" style="width:44px;" maxlength="200" required="" id="id_added_A4"></td>
        <td class="c5"><input type="text" name="notes_A4" maxlength="600" required="" id="id_notes_A4"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_A5" value="{{invList.item_name_5}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_A5"></td>
        <td style=''><input id="prevA5"type="number" style="width:44px;text-align:center;" value="{{machineLayout.A5.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_A5" style="width:44px;" maxlength="200" required="" id="id_stock_A5"></td>
        <td class="c6"><input type="number" name="removed_A5" style="width:44px;" maxlength="200" required="" id="removed_A5"></td>
        <td class="c3"><input type="number" name="sold_A5" style="width:44px;" maxlength="200" required="" id="id_sold_A5"></td>
        <td class="c4"><input type="number" name="added_A5" style="width:44px;" maxlength="200" required="" id="id_added_A5"></td>
        <td class="c5"><input type="text" name="notes_A5" maxlength="600" required="" id="id_notes_A5"></td>
    </tr>

    <tr>
        <td class="c1"><input type="text" name="item_B1" value="{{invList.item_name_6}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_B1"></td>
        <td style=''><input id="prevB1"type="number" style="width:44px;text-align:center;" value="{{machineLayout.B1.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_B1" style="width:44px;" maxlength="200" required="" id="id_stock_B1"></td>
        <td class="c6"><input type="number" name="removed_B1" style="width:44px;" maxlength="200" required="" id="removed_B1"></td>
        <td class="c3"><input type="number" name="sold_B1" style="width:44px;" maxlength="200" required="" id="id_sold_B1"></td>
        <td class="c4"><input type="number" name="added_B1" style="width:44px;" maxlength="200" required="" id="id_added_B1"></td>
        <td class="c5"><input type="text" name="notes_B1" maxlength="600" required="" id="id_notes_B1"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_B2" value="{{invList.item_name_7}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_B2"></td>
        <td style=''><input id="prevB2"type="number" style="width:44px;text-align:center;" value="{{machineLayout.B2.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_B2" style="width:44px;" maxlength="200" required="" id="id_stock_B2"></td>
        <td class="c6"><input type="number" name="removed_B2" style="width:44px;" maxlength="200" required="" id="removed_B2"></td>
        <td class="c3"><input type="number" name="sold_B2" style="width:44px;" maxlength="200" required="" id="id_sold_B2"></td>
        <td class="c4"><input type="number" name="added_B2" style="width:44px;" maxlength="200" required="" id="id_added_B2"></td>
        <td class="c5"><input type="text" name="notes_B2" maxlength="600" required="" id="id_notes_B2"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_B3" value="{{invList.item_name_8}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_B3"></td>
        <td style=''><input id="prevB3"type="number" style="width:44px;text-align:center;" value="{{machineLayout.B3.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_B3" style="width:44px;" maxlength="200" required="" id="id_stock_B3"></td>
        <td class="c6"><input type="number" name="removed_B3" style="width:44px;" maxlength="200" required="" id="removed_B3"></td>
        <td class="c3"><input type="number" name="sold_B3" style="width:44px;" maxlength="200" required="" id="id_sold_B3"></td>
        <td class="c4"><input type="number" name="added_B3" style="width:44px;" maxlength="200" required="" id="id_added_B3"></td>
        <td class="c5"><input type="text" name="notes_B3" maxlength="600" required="" id="id_notes_B3"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_B4" value="{{invList.item_name_9}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_B4"></td>
        <td style=''><input id="prevB4"type="number" style="width:44px;text-align:center;" value="{{machineLayout.B4.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_B4" style="width:44px;" maxlength="200" required="" id="id_stock_B4"></td>
        <td class="c6"><input type="number" name="removed_B4" style="width:44px;" maxlength="200" required="" id="removed_B4"></td>
        <td class="c3"><input type="number" name="sold_B4" style="width:44px;" maxlength="200" required="" id="id_sold_B4"></td>
        <td class="c4"><input type="number" name="added_B4" style="width:44px;" maxlength="200" required="" id="id_added_B4"></td>
        <td class="c5"><input type="text" name="notes_B4" maxlength="600" required="" id="id_notes_B4"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_B5" value="{{invList.item_name_10}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_B5"></td>
        <td style=''><input id="prevB5"type="number" style="width:44px;text-align:center;" value="{{machineLayout.B5.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_B5" style="width:44px;" maxlength="200" required="" id="id_stock_B5"></td>
        <td class="c6"><input type="number" name="removed_B5" style="width:44px;" maxlength="200" required="" id="removed_B5"></td>
        <td class="c3"><input type="number" name="sold_B5" style="width:44px;" maxlength="200" required="" id="id_sold_B5"></td>
        <td class="c4"><input type="number" name="added_B5" style="width:44px;" maxlength="200" required="" id="id_added_B5"></td>
        <td class="c5"><input type="text" name="notes_B5" maxlength="600" required="" id="id_notes_B5"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_B6" value="{{invList.item_name_11}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_B6"></td>
        <td style=''><input id="prevB6"type="number" style="width:44px;text-align:center;" value="{{machineLayout.B6.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_B6" style="width:44px;" maxlength="200" required="" id="id_stock_B6"></td>
        <td class="c6"><input type="number" name="removed_B6" style="width:44px;" maxlength="200" required="" id="removed_B6"></td>
        <td class="c3"><input type="number" name="sold_B6" style="width:44px;" maxlength="200" required="" id="id_sold_B6"></td>
        <td class="c4"><input type="number" name="added_B6" style="width:44px;" maxlength="200" required="" id="id_added_B6"></td>
        <td class="c5"><input type="text" name="notes_B6" maxlength="600" required="" id="id_notes_B6"></td>
    </tr>

    <tr>
        <td class="c1"><input type="text" name="item_C1" value="{{invList.item_name_12}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C1"></td>
        <td style=''><input id="prevC1"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C1.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C1" style="width:44px;" maxlength="200" required="" id="id_stock_C1"></td>
        <td class="c6"><input type="number" name="removed_C1" style="width:44px;" maxlength="200" required="" id="removed_C1"></td>
        <td class="c3"><input type="number" name="sold_C1" style="width:44px;" maxlength="200" required="" id="id_sold_C1"></td>
        <td class="c4"><input type="number" name="added_C1" style="width:44px;" maxlength="200" required="" id="id_added_C1"></td>
        <td class="c5"><input type="text" name="notes_C1" maxlength="600" required="" id="id_notes_C1"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C2" value="{{invList.item_name_13}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C2"></td>
        <td style=''><input id="prevC2"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C2.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C2" style="width:44px;" maxlength="200" required="" id="id_stock_C2"></td>
        <td class="c6"><input type="number" name="removed_C2" style="width:44px;" maxlength="200" required="" id="removed_C2"></td>
        <td class="c3"><input type="number" name="sold_C2" style="width:44px;" maxlength="200" required="" id="id_sold_C2"></td>
        <td class="c4"><input type="number" name="added_C2" style="width:44px;" maxlength="200" required="" id="id_added_C2"></td>
        <td class="c5"><input type="text" name="notes_C2" maxlength="600" required="" id="id_notes_C2"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C3" value="{{invList.item_name_14}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C3"></td>
        <td style=''><input id="prevC3"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C3.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C3" style="width:44px;" maxlength="200" required="" id="id_stock_C3"></td>
        <td class="c6"><input type="number" name="removed_C3" style="width:44px;" maxlength="200" required="" id="removed_C3"></td>
        <td class="c3"><input type="number" name="sold_C3" style="width:44px;" maxlength="200" required="" id="id_sold_C3"></td>
        <td class="c4"><input type="number" name="added_C3" style="width:44px;" maxlength="200" required="" id="id_added_C3"></td>
        <td class="c5"><input type="text" name="notes_C3" maxlength="600" required="" id="id_notes_C3"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C4" value="{{invList.item_name_15}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C4"></td>
        <td style=''><input id="prevC4"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C4.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C4" style="width:44px;" maxlength="200" required="" id="id_stock_C4"></td>
        <td class="c6"><input type="number" name="removed_C4" style="width:44px;" maxlength="200" required="" id="removed_C4"></td>
        <td class="c3"><input type="number" name="sold_C4" style="width:44px;" maxlength="200" required="" id="id_sold_C4"></td>
        <td class="c4"><input type="number" name="added_C4" style="width:44px;" maxlength="200" required="" id="id_added_C4"></td>
        <td class="c5"><input type="text" name="notes_C4" maxlength="600" required="" id="id_notes_C4"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C5" value="{{invList.item_name_16}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C5"></td>
        <td style=''><input id="prevC5"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C5.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C5" style="width:44px;" maxlength="200" required="" id="id_stock_C5"></td>
        <td class="c6"><input type="number" name="removed_C5" style="width:44px;" maxlength="200" required="" id="removed_C5"></td>
        <td class="c3"><input type="number" name="sold_C5" style="width:44px;" maxlength="200" required="" id="id_sold_C5"></td>
        <td class="c4"><input type="number" name="added_C5" style="width:44px;" maxlength="200" required="" id="id_added_C5"></td>
        <td class="c5"><input type="text" name="notes_C5" maxlength="600" required="" id="id_notes_C5"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C6" value="{{invList.item_name_17}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C6"></td>
        <td style=''><input id="prevC6"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C6.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C6" style="width:44px;" maxlength="200" required="" id="id_stock_C6"></td>
        <td class="c6"><input type="number" name="removed_C6" style="width:44px;" maxlength="200" required="" id="removed_C6"></td>
        <td class="c3"><input type="number" name="sold_C6" style="width:44px;" maxlength="200" required="" id="id_sold_C6"></td>
        <td class="c4"><input type="number" name="added_C6" style="width:44px;" maxlength="200" required="" id="id_added_C6"></td>
        <td class="c5"><input type="text" name="notes_C6" maxlength="600" required="" id="id_notes_C6"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C7" value="{{invList.item_name_18}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C7"></td>
        <td style=''><input id="prevC7"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C7.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C7" style="width:44px;" maxlength="200" required="" id="id_stock_C7"></td>
        <td class="c6"><input type="number" name="removed_C7" style="width:44px;" maxlength="200" required="" id="removed_C7"></td>
        <td class="c3"><input type="number" name="sold_C7" style="width:44px;" maxlength="200" required="" id="id_sold_C7"></td>
        <td class="c4"><input type="number" name="added_C7" style="width:44px;" maxlength="200" required="" id="id_added_C7"></td>
        <td class="c5"><input type="text" name="notes_C7" maxlength="600" required="" id="id_notes_C7"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C8" value="{{invList.item_name_19}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C8"></td>
        <td style=''><input id="prevC8"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C8.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C8" style="width:44px;" maxlength="200" required="" id="id_stock_C8"></td>
        <td class="c6"><input type="number" name="removed_C8" style="width:44px;" maxlength="200" required="" id="removed_C8"></td>
        <td class="c3"><input type="number" name="sold_C8" style="width:44px;" maxlength="200" required="" id="id_sold_C8"></td>
        <td class="c4"><input type="number" name="added_C8" style="width:44px;" maxlength="200" required="" id="id_added_C8"></td>
        <td class="c5"><input type="text" name="notes_C8" maxlength="600" required="" id="id_notes_C8"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C9" value="{{invList.item_name_20}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C9"></td>
        <td style=''><input id="prevC9"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C9.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C9" style="width:44px;" maxlength="200" required="" id="id_stock_C9"></td>
        <td class="c6"><input type="number" name="removed_C9" style="width:44px;" maxlength="200" required="" id="removed_C9"></td>
        <td class="c3"><input type="number" name="sold_C9" style="width:44px;" maxlength="200" required="" id="id_sold_C9"></td>
        <td class="c4"><input type="number" name="added_C9" style="width:44px;" maxlength="200" required="" id="id_added_C9"></td>
        <td class="c5"><input type="text" name="notes_C9" maxlength="600" required="" id="id_notes_C9"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_C10" value="{{invList.item_name_21}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_C10"></td>
        <td style=''><input id="prevC10"type="number" style="width:44px;text-align:center;" value="{{machineLayout.C10.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_C10" style="width:44px;" maxlength="200" required="" id="id_stock_C10"></td>
        <td class="c6"><input type="number" name="removed_C10" style="width:44px;" maxlength="200" required="" id="removed_C10"></td>
        <td class="c3"><input type="number" name="sold_C10" style="width:44px;" maxlength="200" required="" id="id_sold_C10"></td>
        <td class="c4"><input type="number" name="added_C10" style="width:44px;" maxlength="200" required="" id="id_added_C10"></td>
        <td class="c5"><input type="text" name="notes_C10" maxlength="600" required="" id="id_notes_C10"></td>
    </tr>

    <tr>
        <td class="c1"><input type="text" name="item_D1" value="{{invList.item_name_22}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D1"></td>
        <td style=''><input id="prevD1"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D1.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D1" style="width:44px;" maxlength="200" required="" id="id_stock_D1"></td>
        <td class="c6"><input type="number" name="removed_D1" style="width:44px;" maxlength="200" required="" id="removed_D1"></td>
        <td class="c3"><input type="number" name="sold_D1" style="width:44px;" maxlength="200" required="" id="id_sold_D1"></td>
        <td class="c4"><input type="number" name="added_D1" style="width:44px;" maxlength="200" required="" id="id_added_D1"></td>
        <td class="c5"><input type="text" name="notes_D1" maxlength="600" required="" id="id_notes_D1"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D2" value="{{invList.item_name_23}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D2"></td>
        <td style=''><input id="prevD2"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D2.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D2" style="width:44px;" maxlength="200" required="" id="id_stock_D2"></td>
        <td class="c6"><input type="number" name="removed_D2" style="width:44px;" maxlength="200" required="" id="removed_D2"></td>
        <td class="c3"><input type="number" name="sold_D2" style="width:44px;" maxlength="200" required="" id="id_sold_D2"></td>
        <td class="c4"><input type="number" name="added_D2" style="width:44px;" maxlength="200" required="" id="id_added_D2"></td>
        <td class="c5"><input type="text" name="notes_D2" maxlength="600" required="" id="id_notes_D2"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D3" value="{{invList.item_name_24}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D3"></td>
        <td style=''><input id="prevD3"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D3.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D3" style="width:44px;" maxlength="200" required="" id="id_stock_D3"></td>
        <td class="c6"><input type="number" name="removed_D3" style="width:44px;" maxlength="200" required="" id="removed_D3"></td>
        <td class="c3"><input type="number" name="sold_D3" style="width:44px;" maxlength="200" required="" id="id_sold_D3"></td>
        <td class="c4"><input type="number" name="added_D3" style="width:44px;" maxlength="200" required="" id="id_added_D3"></td>
        <td class="c5"><input type="text" name="notes_D3" maxlength="600" required="" id="id_notes_D3"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D4" value="{{invList.item_name_25}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D4"></td>
        <td style=''><input id="prevD4"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D4.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D4" style="width:44px;" maxlength="200" required="" id="id_stock_D4"></td>
        <td class="c6"><input type="number" name="removed_D4" style="width:44px;" maxlength="200" required="" id="removed_D4"></td>
        <td class="c3"><input type="number" name="sold_D4" style="width:44px;" maxlength="200" required="" id="id_sold_D4"></td>
        <td class="c4"><input type="number" name="added_D4" style="width:44px;" maxlength="200" required="" id="id_added_D4"></td>
        <td class="c5"><input type="text" name="notes_D4" maxlength="600" required="" id="id_notes_D4"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D5" value="{{invList.item_name_26}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D5"></td>
        <td style=''><input id="prevD5"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D5.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D5" style="width:44px;" maxlength="200" required="" id="id_stock_D5"></td>
        <td class="c6"><input type="number" name="removed_D5" style="width:44px;" maxlength="200" required="" id="removed_D5"></td>
        <td class="c3"><input type="number" name="sold_D5" style="width:44px;" maxlength="200" required="" id="id_sold_D5"></td>
        <td class="c4"><input type="number" name="added_D5" style="width:44px;" maxlength="200" required="" id="id_added_D5"></td>
        <td class="c5"><input type="text" name="notes_D5" maxlength="600" required="" id="id_notes_D5"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D6" value="{{invList.item_name_27}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D6"></td>
        <td style=''><input id="prevD6"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D6.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D6" style="width:44px;" maxlength="200" required="" id="id_stock_D6"></td>
        <td class="c6"><input type="number" name="removed_D6" style="width:44px;" maxlength="200" required="" id="removed_D6"></td>
        <td class="c3"><input type="number" name="sold_D6" style="width:44px;" maxlength="200" required="" id="id_sold_D6"></td>
        <td class="c4"><input type="number" name="added_D6" style="width:44px;" maxlength="200" required="" id="id_added_D6"></td>
        <td class="c5"><input type="text" name="notes_D6" maxlength="600" required="" id="id_notes_D6"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D7" value="{{invList.item_name_28}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D7"></td>
        <td style=''><input id="prevD7"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D7.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D7" style="width:44px;" maxlength="200" required="" id="id_stock_D7"></td>
        <td class="c6"><input type="number" name="removed_D7" style="width:44px;" maxlength="200" required="" id="removed_D7"></td>
        <td class="c3"><input type="number" name="sold_D7" style="width:44px;" maxlength="200" required="" id="id_sold_D7"></td>
        <td class="c4"><input type="number" name="added_D7" style="width:44px;" maxlength="200" required="" id="id_added_D7"></td>
        <td class="c5"><input type="text" name="notes_D7" maxlength="600" required="" id="id_notes_D7"></td>
    </tr>
    <tr>
        <td class="c1"><input type="text" name="item_D8" value="{{invList.item_name_29}}" style="width: 154px;" maxlength="30" required="" id="id_item_name_D8"></td>
        <td style=''><input id="prevD8"type="number" style="width:44px;text-align:center;" value="{{machineLayout.D8.in_stock}}"></td>
        <td class="c2"><input type="number" name="stock_D8" style="width:44px;" maxlength="200" required="" id="id_stock_D8"></td>
        <td class="c6"><input type="number" name="removed_D8" style="width:44px;" maxlength="200" required="" id="removed_D8"></td>
        <td class="c3"><input type="number" name="sold_D8" style="width:44px;" maxlength="200" required="" id="id_sold_D8"></td>
        <td class="c4"><input type="number" name="added_D8" style="width:44px;" maxlength="200" required="" id="id_added_D8"></td>
        <td class="c5"><input type="text" name="notes_D8" maxlength="600" required="" id="id_notes_D8"></td>
    </tr>
</table>
{% endblock %}