.header{
    font-family: sans-serif;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e1e2f, #3b3b58);
    color: white;
}
.rightGap{
    margin-right: 1rem;
}
.header a{
    text-decoration: none;
    padding: 8px;
    background-color: #a52a2a63;
    border-radius: 12px;
    color: black;
}