{% load static %}
<div class="form-container">
    <h2>Add Write-Off</h2>
    <form method="POST">
        {% csrf_token %}
        <input id="id_transaction_type" type="hidden" value="Expense" name="transaction_type" >
        <p>
            <label for="id_category">Expense Category</label>
            {{ expenseForm.category }}
        </p>
        <p>
            <label for="id_amount">Amount ($)</label>
            {{ expenseForm.amount }}
        </p>
        <p>
            <label for="id_description">Description</label>
            {{ expenseForm.description }}
        </p>
        <p>
            <label for="id_date">Date of Expense</label>
            {{ expenseForm.date }}
        </p>
        <button type="submit" name="addExpenseButton" class="submit-btn">Add</button>
    </form>
</div>

