{% extends "legacy_lineage/tenant_layout.html" %}{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'legacy_lineage/style/maintenance_request.css' %}">
<script defer src="{% static 'legacy_lineage/script/maintenance_request.js' %}"></script>
<div class="form-container">
    <h2>Submit Maintenance Request</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_category">Property</label>
            {{form.property}}
        </div>
        <div class="form-group">
            <label for="id_category">Category</label>
            <select id="id_category" name="category" class="form-control" required>
                <option value="">Select a category</option>
                <option value="Appliance">Appliance</option>
                <option value="Doors and locks">Doors and locks</option>
                <option value="Electrical and lighting">Electrical and lighting</option>
                <option value="Flooring">Flooring</option>
                <option value="General">General</option>
                <option value="Heating and cooling">Heating and cooling</option>
                <option value="Plumbing and bath">Plumbing and bath</option>
                <option value="Safety equipment">Safety equipment</option>
                <option value="Preventative Maintenance">Preventative Maintenance</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_description">Description</label>
            <textarea id="id_description" name="description" class="form-control" placeholder="Describe the issue..." rows="5" required></textarea>
        </div>

        <button type="submit" class="btn-submit">Submit Request</button>
    </form>
</div>
{% endblock %}