{% extends "components/admin_layout.html" %}{% load static %}
{% block content %}
<script defer src="{% static 'script/inventory_sheet.js' %}"></script>
<style>
    table{
        width: 650px;
        margin: auto;
        border-collapse: collapse;
    }
    .c1{
        width: 154px;
    }
    .c2{
        width: 44px;
    }
    .c3{
        width: 44px;
    }
    .c4{
        width: 44px;
    }
    .c5{
        
    }
</style>

<div style='width:100%; height:100%;'>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td style="text-align: center;">
                    <a onclick="toggleBuildsInput()" style="text-decoration: underline; color: blue;">
                        click to select different build
                    </a>
                </td>
            </tr>
            <tr id="buildInput" style="display:none;">
                <td style="text-align: center;">
                    <select name="machineBuild" onchange="form.submit()">
                        <option value="">-----</option>
                        {% for build in machineList %}
                            <option value="{{build.id}}">{{build.date}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <form action="" method="POST" class='form' style="width: 742px; margin: auto; border-radius: 10px;
    background-color: #ffffff3b;
    padding: 44px 63px;
    margin-top: 7rem;">
        {% csrf_token %}
        <table>
            <tr>
                <th>{{invForm.business.label}}:{{invForm.business}}</th>
                <th>{{invForm.id_tag.label}}:{{invForm.id_tag}}</th>
                <th>{{invForm.date.label}}:{{invForm.date}}</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{invForm.technician.label}}:{{invForm.technician}}</th>
                <th>{{invForm.condition.label}}:{{invForm.condition}}</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{invForm.time_start.label}}:{{invForm.time_start}}</th>
                <th>{{invForm.time_end.label}}:{{invForm.time_end}}</th>
            </tr>
        </table>
        <table style='margin-bottom: 4rem;'>
            <tr>
                <th>{{invForm.collected.label}}:{{invForm.collected}}</th>
            </tr>
        </table>
        
            {% block content2 %}
            {% endblock %}
        
            {% block list %}
            {% endblock %}
        
        {% comment %} {% include includeStr %} {% endcomment %}
        <input type='submit' value='select'/>
    </form>
</div>
{% endblock %}